<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<style type="text/css">
    body {
       font-family: Tahoma;
         }
</style>

<!--<%= "Environment: #{Rails.env}" %>-->
<div style="background-color:white;
            align:center;
            text-align:center;
            border:0px #AAAABB;
            padding:10px;
            /*border-radius:2em;*/
            border-style:inset ">

 <%  @numgraphs =params[:filter].length %>

 <%= render :template => "layouts/plot_template" %>

</div>




