<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div style="background-color:white;
            border:10px orange;
            padding-bottom:20px;
            padding-left:20px;
            border-radius:2em;
            border-style:inset ">

 <%  @numgraphs = 2 %>

 <%= render :template => @mytemplate %>



</div>